// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

///////////////// general styles ///////////////////////////////////
html { 
  background: url(hero-1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {

  background-color: transparent;
}

// .center-fix {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   -webkit-transform: translateX(-50%) translateY(-50%);
//   transform: translateX(-50%) translateY(-50%);
// }

.pull-right {
  float: right;
}

.jumbotron-wrapper {
  margin: 8% auto 0;
}


.jumbotron {
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  hr {
    background-color: #fff;
  }
}

.main-nav {
  width: 100%;
  text-align: center;
  height: 50px;
  padding-top: 20px;
  a {
    vertical-align: middle;
    padding: 0 10px;
  }
}

.alert {
  margin: 20px auto;
  p {
    margin: 0;
  }
}

ul {
  padding-left: 0px;
  list-style: none;
}

///////////////// Forms ///////////////////////////////////

.form-wrapper {
  margin: 10px auto;
  padding-top: 8%;
}

.form {
  color: white;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 30px;
  border-radius: 15px;
  
  h2 {
    margin-bottom: 30px;
  }

  .remember_me {
    margin-left: 0;
    text-align: left;
  }

  .actions {
    margin: 20px auto; 
  }

  .input-group-text {
    width: 45px;
    text-align: center;
    i {
      text-align: center;
      margin: auto;
    }
  }
}

.compact-form-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.compact-form-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.compact-form-group input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.compact-form-group input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form input[type="checkbox"] {
  text-align: left;
}





///////////////// index page ///////////////////////////////////


.conversation-panel-title {
  margin: 10px auto;
  color: #fff;
}

.list-group {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -115px;
  top: 130px;
  width: 240px;
}

.list-item {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #efefef;
  height: 50px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  .gravatar, a {
    margin-left: 10px;
  }

  .gravatar{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
    
  }

  .online_status {
   border-color: green;
   transition: all 1s ease;
     &.online {
      -webkit-filter: none; /* Safari 6.0 - 9.0 */
      filter: none;
      border-color: green;
    }
  }  
}

.list-item:hover {
  margin-left: -115px;
}






.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

